
process {
  maxRetries = 4
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  withLabel: cpu_x1 {cpus = 1}
  withLabel: cpu_x2 {cpus = 2}
  withLabel: cpu_x3 {cpus = 3}
  withLabel: cpu_x4 {cpus = 4}
  withLabel: cpu_x5 {cpus = 5}
  withLabel: cpu_x6 {cpus = 6}
  withLabel: cpu_x7 {cpus = 7}
  withLabel: cpu_x8 {cpus = 8}
  withLabel: cpu_x9 {cpus = 9}
  withLabel: cpu_x10 {cpus = 10}
  withLabel: cpu_x11 {cpus = 11}
  withLabel: cpu_x12 {cpus = 12}
  withLabel: cpu_x13 {cpus = 13}
  withLabel: cpu_x14 {cpus = 14}
  withLabel: cpu_x15 {cpus = 15}
  withLabel: cpu_x16 {cpus = 16}
  withLabel: cpu_x17 {cpus = 17}
  withLabel: cpu_x18 {cpus = 18}
  withLabel: cpu_x19 {cpus = 19}
  withLabel: cpu_x20 {cpus = 20}
  withLabel: cpu_x21 {cpus = 21}
  withLabel: cpu_x22 {cpus = 22}
  withLabel: cpu_x23 {cpus = 23}
  withLabel: cpu_x24 {cpus = 24}
  withLabel: cpu_x25 {cpus = 25}
  withLabel: cpu_x26 {cpus = 26}
  withLabel: cpu_x27 {cpus = 27}
  withLabel: cpu_x28 {cpus = 28}
  withLabel: cpu_x29 {cpus = 29}
  withLabel: cpu_x30 {cpus = 30}
  withLabel: cpu_x31 {cpus = 31}
  withLabel: cpu_x32 {cpus = 32}
  withLabel: mem_2G {memory = { 2.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_4G {memory = { 4.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_8G {memory = { 8.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_12G {memory = { 12.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_16G {memory = { 16.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_20G {memory = { 20.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_24G {memory = { 24.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_28G {memory = { 28.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_32G {memory = { 32.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_40G {memory = { 40.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_48G {memory = { 48.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_64G {memory = { 64.GB * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_1G_per_cpu {memory = { 1.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_2G_per_cpu {memory = { 2.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_3G_per_cpu {memory = { 3.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_4G_per_cpu {memory = { 4.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_5G_per_cpu {memory = { 5.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_6G_per_cpu {memory = { 6.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_7G_per_cpu {memory = { 7.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: mem_8G_per_cpu {memory = { 8.GB * task.cpus * (0.5 + (0.5 * task.attempt)) }}
  withLabel: cpu_low {cpus = params.containsKey('ncpus_low') ? params.ncpus_low : 4}
  withLabel: cpu_med {cpus = params.containsKey('ncpus_med') ? params.ncpus_med : 8}
  withLabel: cpu_high {cpus = params.containsKey('ncpus_high') ? params.ncpus_high : 16}
  withLabel: mem_low { memory = { 1.GB * (params.containsKey('mem_low') ? params.mem_low : 15) * (0.5 + (0.5 * task.attempt))} }
  withLabel: mem_med { memory = { 1.GB * (params.containsKey('mem_med') ? params.mem_med : 30) * (0.5 + (0.5 * task.attempt))} }
  withLabel: mem_high { memory = { 1.GB * (params.containsKey('mem_high') ? params.mem_high : 60) * (0.5 + (0.5 * task.attempt))} }
}